* {
    padding: 0;
    margin: 0;
   /* box-sizing: border-box; */
}

/* nav styling */

body {
    background-image: url("../images/dust_scratches.jpg");
}

header {
    background-color: #ffffff; 
}

nav {
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 15px;
    background-color: rgba(255, 0, 86, .8);
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

ul li {
    display: inline-flex;
}

li .links {
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 20px;
    color: rgba(255, 0, 86, .8);
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.links:hover, .links:visited {
    opacity: .5;
    color: pink;
}
/* nav styling end */

.spacing {
    margin-left: 10%;
    margin-right: 10%;
}

section {
    padding: 3%;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 85px;
}


/* title for h2, about me */

.about_me {
    color: rgba(255, 0, 86, .8);
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom: 10px;
}

/* Middle section */

.container {
    border-top: 2px solid #777777;
    padding-top: 20px;
    position: relative; 
}

p {
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

/* Portfolio page */

.boxes {
    display: inline-block;
    position: relative;
}

.group1 {
    height: 250px;
    width: 250px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 10px;
}

.banner {
    position: absolute;
    opacity: 0;
    background-color: rgba(255, 0, 86, 1);
    color: white;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    left: 95px;
    bottom: 180px;
}

.boxes:hover {
    opacity: .7;
}

.boxes:hover .banner {
    opacity: 1;
}

/* About Page Image */

#selfie {
    float: left;
    width: 200px;
    height: 200px;
    padding-right: 10px;
    padding-bottom: 7px;
}

/* Contact Page */

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input {
    width: 50%;
    height: 30px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea {
    width: 70%;
    height: 200px;
    padding-left: 7px;
    padding-top: 5px;
    margin-top: 10px;
    resize: none;
}

button {
    background-color: rgba(255, 0, 86, .8);
    color: white;
    margin-top: 10px;
    padding: 10px;
}

/* Last section */

.footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    font-size: 10px;
    border-top: 5px solid rgb(253, 64, 122);
    padding: 20px 0 5px 0;
    margin-top: 10px;
}

